@import "tailwindcss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #141414;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}
